{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        [
            "transform-decorators-legacy",
            {
                "legacy": true
            }
        ],
        [
            "transform-runtime"
        ],
        [
            "react-transform",
            {
                "transforms": [
                    {
                        "transform": "react-transform-hmr",
                        "imports": [
                            "react"
                        ],
                        "locals": [
                            "module"
                        ]
                    }
                ]
            }
        ]
    ]
}